{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block title %}
Yield Graph
{% endblock %}

{% block content %}
<div class="row mt-2">
	<h4 class="text-center">Yields for last year</h4>
	<div class="col-md-6">
		<!-- div and script go here -->
		{{ div[0]|safe }}
		{{ script[0]|safe }}	
	</div>
	<div class="col-md-6">
		{{ div[1]|safe }}
    	{{ script[1]|safe }}
	</div>	
</div>


<div class="row container mt-4" id="annualyields">
	<h4 class="text-center">Year-on-year yield comparison</h4>
	<!-- div and script go here -->
	{{ div[2]|safe }}
    {{ script[2]|safe }}
</div>

<div class="row container mt-4" id="annualyields">
	<h4 class="text-center">Year-on-year yield comparison</h4>
	<!-- div and script go here -->
	{{ div[3]|safe }}
    {{ script[3]|safe }}
</div>

{% endblock %}

{% block script %}
<!-- Bokeh core script-->
<script src="{{ url_for('static', filename='js/bokeh.min.js') }}"></script>	
{% endblock %}