{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block title %}
Yield Graph
{% endblock %}

{% block content %}
<div class="row container">
	{{ div[0]|safe }}
	{{ script[0]|safe }}
	<div class="col">
		<table class="table table-hover">
			<thead>	
			<tr>
				<th scope="col">Location</th>
				<th scope="col">Value (Tons)</th>
			</tr>			
			</thead>
			<tbody>	
			<tr>
				<td>Location</td>
				<td>Value</td>
			</tr>			
			</tbody>			
		</table>
	</div>
</div>
<div class="row container">
	{{ div[1]|safe }}
	{{ script[1]|safe }}
	<div class="col">
		<table class="table table-hover">
			<thead>	
			<tr>
				<th scope="col">Location</th>
				<th scope="col">Value (Tons/Acre)</th>
			</tr>			
			</thead>
			<tbody>	
			<tr>
				<td>Location</td>
				<td>Value</td>
			</tr>			
			</tbody>			
		</table>
	</div>
</div>

{% endblock %}

{% block script %}
<!-- Bokeh core script-->
<script src="{{ url_for('static', filename='js/bokeh.min.js') }}"></script>	
{% endblock %}