{% extends "base.html" %}

{% block title %}
Change user password
{% endblock %}

{% block content %}
<!-- Main canvas -->
  <div class="col py-5 mx-1">
    <div class="col text-center">      
      <p class="fs-4">Enter new password to replace old password</p>
    </div>

    <form action="{{ url_for('user.change_password', username=current_user.username) }}" method="POST" novalidate class="g-3 rounded-3 bg-light px-2 pb-2">
      {{ form.csrf_token() }}

      <!-- Row 1 -->
      <div class="row mb-4 align-items-center">
        <div class="form-group col">
          {{ form.old_pass.label }}
          {{ form.old_pass(class="form-control", id="floatingInput", placeholder="Current password") }}          
          {% for error in form.old_pass.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}  
        </div>
        <div class="form-group col">
          {{ form.password.label }}
          {{ form.password(class="form-control", id="floatingInput", placeholder="New password") }}          
          {% for error in form.password.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}  
        </div>
        <div class="form-group col">
          {{ form.confirm_pass.label }}
          {{ form.confirm_pass(class="form-control", id="floatingInput", placeholder="Confirm New password") }}          
          {% for error in form.confirm_pass.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}           
        </div>
      </div>

      <div class="col align-items-center text-center">        
        {{ form.submit(class="w-50 align-items-center btn btn-primary") }}        
      </div>      
    </form>
      
  </div>
{% endblock %}