{% extends "base.html" %}

{% block title %}
Add Lands
{% endblock %}

{% block content %}
<div class="col align-self-start mx-1">
	<div class="col text-center">      
      <p class="fs-4">Enter field information</p>
    </div>

    <form action="{{ url_for('data.add_sowing') }}", method="POST" novalidate class="g-3 rounded-3 bg-light px-2">
    	{{ form.csrf_token() }}

        <!-- row 1-->
        <div class="row mb-2">            
            <div class="form-group col">
                {{ form.season.label }}
                <div class="mt-2">
                {% for subfield in form.season %}                                           
                    {{ subfield(id="floatingInput") }}
                    {{ subfield.label }}                                    
                {% endfor %} 
                </div>         
            </div>   
            <div class="form-group col">
                {{ form.location.label }}
                {{ form.location(class="form-control", id="floatingInput") }}
                {% for error in form.location.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>  
            <div class="form-group col">
                {{ form.sowing_date.label }}
                {{ form.sowing_date(class="form-control", id="floatingInput") }}
                {% for error in form.sowing_date.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>         
        </div>

    	<!-- row 2 -->
        <div class="row mb-2">   
            <div class="form-group col">
                {{ form.sow_info.variety.label }}
                {{ form.sow_info.variety(class="form-control", id="floatingInput") }}
                {% for error in form.sow_info.variety.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>                      
            <div class="form-group col">
                {{ form.sow_info.field_area.label }}
                {{ form.sow_info.field_area(class="form-control", id="floatingInput") }}
                {% for error in form.sow_info.field_area.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>             
            <div class="form-group col">
                {{ form.sow_info.bags.label }}
                {{ form.sow_info.bags(class="form-control", id="floatingInput") }}
                {% for error in form.sow_info.bags.errors %}
                <small class="form-text text-warning">{{ error }}</small>  
                {% endfor %}
            </div>   
            <div class="form-group col">
                {{ form.sow_info.duration.label }}
                {{ form.sow_info.duration(class="form-control", id="floatingInput") }}
                {% for error in form.sow_info.duration.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>         
        </div>             

        <div class="col align-items-center text-center mb-1">
            {{ form.submit(class="w-50 align-items-center btn btn-primary") }}
        </div>        
    	
    </form>
    	
</div>
{% endblock %}

{% block script %}
<!-- dynamic form js and jquery files-->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock %}