{% extends "base.html" %}

{% block title %}
Add Lands
{% endblock %}

{% block content %}
<div class="col align-self-start mx-1">
	<div class="col text-center">      
      <p class="fs-4">Enter field information</p>
    </div>

    <form action="{{ url_for('data.add_land', location=location) }}", method="POST" novalidate class="g-3 rounded-3 bg-light px-2">
    	{{ form.csrf_token() }}

        <!-- row 1-->
        <div class="row">
            <div class="form-group col">
                {{ form.field_location.label }}
                {{ form.field_location(class="form-control", id="floatingInput", readonly=True) }}
                {% for error in form.field_location.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>  
            <div class="form-group col">
                {{ form.field_extent.label }}
                {{ form.field_extent(class="form-control", id="floatingInput", readonly=True) }}
                {% for error in form.field_extent.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>                  
        </div>

    	<!-- row 2 -->
        <div data-toggle="fieldset" class="col mt-1" id="phone-fieldset">

            <span>Add land&nbsp;<button type="button" class="btn btn-warning my-1" data-toggle="fieldset-add-row" data-target="#phone-fieldset">+</button></span>

            {% for member in form.field_lands %}
            <div class="row align-items-center justify-content-center mb-2" data-toggle="fieldset-entry">                  
                <div class="col">
                    {{ member.extent.label }}
                    {{ member.extent(class="form-control", placeholder="0.0") }}     
                    {% for err in member.extent.errors %}
                    <small class="form-text text-muted">{{ err }}</small>
                    {% endfor %}                              
                </div> 
                <div class="col">
                	{{ member.geotag.label }}
                    {{ member.geotag(class="form-control", palceholder="geo tag") }}
                    {% for err in member.geotag.errors %}
                    <small class="form-text text-muted">{{ err }}</small>
                    {% endfor %}
                </div>                 
                <div class="col">
                	{{ member.owner.label }}
                    {{ member.owner(class="form-control", placeholder="nobody") }}     
                    {% for err in member.owner.errors %}
                    <small class="form-text text-muted">{{ err }}</small>
                    {% endfor %}                              
                </div>
                <div class="col">
                	{{ member.survey.label }}
                    {{ member.survey(class="form-control", placeholder="1/1") }}     
                    {% for err in member.survey.errors %}
                    <small class="form-text text-muted">{{ err }}</small>
                    {% endfor %}                              
                </div>
                <div class="col">
                	{{ member.deed.label }}
                    {{ member.deed(class="form-control", placeholder="1/1") }}     
                    {% for err in member.deed.errors %}
                    <small class="form-text text-muted">{{ err }}</small>
                    {% endfor %}                              
                </div>

                <div class="col mt-4">
                    <!-- remove row button -->               
                    <button class="btn btn-warning" type="button" data-toggle="fieldset-remove-row" id="item-{{loop.index0}}-remove">-</button>
                </div>                              
            </div>
            {% endfor %}            
        </div>

        <div class="col align-items-center text-center mb-1">
            {{ form.submit(class="w-50 align-items-center btn btn-primary") }}
        </div>

        <!-- just to display all potential errors -->
	    {% if form.errors %}
	        <ul class="errors">
	            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	                {% for error in field_errors %}
	                    <li>{{ form[field_name].label }}: {{ error }}</li>
	                {% endfor %}
	            {% endfor %}
	        </ul>
	    {% endif %}
    	
    </form>
    	
</div>
{% endblock %}

{% block script %}
<!-- dynamic form js and jquery files-->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock %}