{% extends "base.html" %}
{% import 'macros.html' as macro %}

{% block title %}
Add Lands
{% endblock %}

{% block content %}
<div class="col align-self-start mx-1">
    
    {% if result %}
    <div class="col text-center bg-dark text-white">      
      <p class="fs-4">Existing land information at {{ macro.loc_name(location) }}</p>
    </div>

    <!-- table of land results -->
    <table class="table table-hover">
        <thead> 
            <tr>                         
                <th scope="col">Extent (Acres)</th>
                <th scope="col">Owner</th>
                <th scope="col" class="align-center">Survey #</th>
                <th scope="col">Deed</th>
            </tr>           
        </thead>
        <tbody>  
            {% for lands in result %}
            <tr>                
                <td>{{ lands.extent }}</td>
                <td>{{ lands.owner }}</td>
                <td>{{ lands.survey }}</td>
                <td>{{ lands.deed }}</td>
            </tr>
            {% endfor %}
        </tbody>        
    </table> 

    <div class="col text-center mt-3 bg-dark text-white">    
      <p class="fs-4">Enter New Land Information</p>
    </div>

    {% else %}

    <div class="col text-center mt-3 bg-dark text-white">    
      <p class="fs-4">No Existing lands. Enter New Land Information</p>
    </div>

    {% endif %}	

    <form action="{{ url_for('data.add_land', location=location) }}", method="POST" novalidate class="g-3 rounded-3 bg-light px-2">
    	{{ form.csrf_token() }}

        <!-- row 1-->
        <div class="row">
            <div class="form-group col">
                {{ form.location.label }}
                {{ form.location(class="form-control", id="floatingInput", readonly=True) }}
                {{ macro.err_out(form.location.errors) }}                
            </div>  
            <div class="form-group col">
                {{ form.field_extent.label }}
                {{ form.field_extent(class="form-control", id="floatingInput", readonly=True) }}
                {{ macro.err_out(form.field_extent.errors) }}                
            </div>                  
        </div>

    	<!-- row 2 -->
        <div data-toggle="fieldset" class="col mt-1" id="phone-fieldset">

            <span>Add land&nbsp;<button type="button" class="btn btn-warning my-1" data-toggle="fieldset-add-row" data-target="#phone-fieldset">+</button></span>

            {% for member in form.field_lands %}
            <div class="row align-items-center justify-content-center mb-2" data-toggle="fieldset-entry">                  
                <div class="col">
                    {{ member.extent.label }}
                    {{ member.extent(class="form-control", placeholder="0.0") }}    
                    {{ macro.err_out(member.extent.errors) }}                     
                </div> 
                <div class="col">
                	{{ member.geotag.label }}
                    {{ member.geotag(class="form-control", palceholder="geo tag") }}
                    {{ macro.err_out(member.geotag.errors) }}                    
                </div>                 
                <div class="col">
                	{{ member.owner.label }}
                    {{ member.owner(class="form-control", placeholder="nobody") }}  
                    {{ macro.err_out(member.owner.errors) }}                    
                </div>
                <div class="col">
                	{{ member.survey.label }}
                    {{ member.survey(class="form-control", placeholder="1/1") }}    
                    {{ macro.err_out(member.survey.errors) }}        
                </div>
                <div class="col">
                	{{ member.deed.label }}
                    {{ member.deed(class="form-control", placeholder="1/1") }}
                    {{ macro.err_out(member.deed.errors) }}     
                </div>

                <div class="col mt-4">
                    <!-- remove row button -->               
                    <button class="btn btn-warning" type="button" data-toggle="fieldset-remove-row" id="item-{{loop.index0}}-remove">-</button>
                </div>                              
            </div>
            {% endfor %}            
        </div>

        <div class="col align-items-center text-center mb-1">
            {{ form.submit(class="w-50 align-items-center btn btn-primary") }}
        </div>

        <!-- just to display all potential errors -->
	    {% if form.errors %}
	        <ul class="errors">
	            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	                {% for error in field_errors %}
	                    <li>{{ form[field_name].label }}: {{ error }}</li>
	                {% endfor %}
	            {% endfor %}
	        </ul>
	    {% endif %}
    	
    </form>
    	
</div>
{% endblock %}

{% block script %}
<!-- dynamic form js and jquery files-->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock %}