{% extends "base.html" %}

{% block title %}
Remove Lands
{% endblock %}

{% block content %}
<div class="col align-self-start mx-1">	

	{% if option == 'display' and result is defined %}

        {% if result.field_lands %}
    	<div class="col text-center">      
          <p class="fs-4">Available Fields and Lands for {{ result.field_extent }} acres at {{ result.location }}</p>
        </div>   

        <!-- table of land results -->
        <table class="table table-hover">
        	<thead> 
        		<tr>
        			<th scope="col">ID</th>    			
        			<th scope="col">Extent</th>
        			<th scope="col">Owner</th>
        			<th scope="col" class="align-center">Survey #</th>
        			<th scope="col">Deed</th>
        		</tr>   		
        	</thead>
        	<tbody>  
        		{% for lands in result.field_lands %}
        		<tr>
        			<td>{{ lands.id }}</td>    			
        			<td>{{ lands.extent }}</td>
        			<td>{{ lands.owner }}</td>
        			<td>{{ lands.survey }}</td>
        			<td>{{ lands.deed }}</td>
        		</tr>
        		{% endfor %}
        	</tbody>    	
        </table>    

        <div class="col text-center mt-2">      
          <p class="fs-4">Specified Lands will be Removed</p>
        </div>

        <!-- form to input land location and ID for removal-->
        <form action="{{ url_for('data.remove_land', location=result.location, call_option='select_land') }}", method="POST" novalidate class="g-3 rounded-3 bg-light px-2">
        	{{ form.csrf_token() }}

            <!-- row 1-->
            <div class="row mb-2">                        
                <div class="form-group col">
                    {{ form.location.label }}
                    {{ form.location(class="form-control", id="floatingInput") }}
                    {% for error in form.location.errors %}
                    <small class="form-text text-muted">{{ error }}</small>  
                    {% endfor %}
                </div>  

                <div class="form-group col">
                    {{ form.land_id.label }}
                    {{ form.land_id(class="form-control", id="floatingInput") }}
                    {% for error in form.land_id.errors %}
                    <small class="form-text text-muted">{{ error }}</small>  
                    {% endfor %}
                </div> 

                <div class="col align-items-center text-center mt-4">
                    {{ form.submit(class="align-items-center btn btn-primary") }}
                </div>                 
            </div>         	
        </form>
    
        {% else %}
        <div class="col text-center mt-2">      
          <p class="fs-4">No Lands in {{ result.location }} to be Removed</p>
        </div>
        {% endif %}

    {% else %}
    <div class="col text-center">      
      <p class="fs-4">Specify lands to be removed</p>
    </div>

    <form action="{{ url_for('data.remove_land', location=location, call_option='select') }}", method="POST" novalidate class="g-3 rounded-3 bg-light px-2">
    	{{ form.csrf_token() }}

        <!-- row 1-->
        <div class="row mb-2">                        
            <div class="form-group col">
                {{ form.location.label }}
                {{ form.location(class="form-control", id="floatingInput") }}
                {% for error in form.location.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div>  

            <div class="form-group col">
                {{ form.land_id.label }}
                {{ form.land_id(class="form-control", id="floatingInput") }}
                {% for error in form.land_id.errors %}
                <small class="form-text text-muted">{{ error }}</small>  
                {% endfor %}
            </div> 

            <div class="col align-items-center text-center mt-4">
                {{ form.submit(class="align-items-center btn btn-primary") }}
            </div>                 
        </div>   
          	
    </form>

	{% endif %}    
    	
</div>
{% endblock %}